@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.ttf');
}

.custom-shape-divider-top-1726626453 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1726626453 svg {
  position: relative;
  display: block;
  width: calc(114% + 1.3px);
  height: 39px;
}

.custom-shape-divider-top-1726626453 .shape-fill {
  fill: #1630BE;
}

   

.custom-shape-divider-top-1726798444 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1726798444 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 24px;
}

.custom-shape-divider-top-1726798444 .shape-fill {
  fill: #E9EFF9;
}

.custom-shape-divider-top-1726799180 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1726799180 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 24px;
}

.custom-shape-divider-top-1726799180 .shape-fill {
  fill: #1630BE;
}
.custom-shape-divider-top-1726799181 .shape-fill1 {
  fill: #FFF;
}

.sombraTexto{
  text-shadow: 10px 10px 15px black;
}

.custom-shape-divider-bottom-1726974865 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1726974865 svg {
  position: relative;
  display: block;
  width: calc(241% + 1.3px);
  height: 44px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1726974865 .shape-fill {
  fill: #E9EFF9;
}